<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-plus modal-icon pull-right"></i>
        <h4 class="modal-title">New List</h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" ng-init="item={};">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="List Name" ng-model="item.name">
                </div>
            </div>
            <div class="form-group">
                <label for="priority" class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="priority" placeholder="5" ng-model="item.priority" max="10" min="0">
                </div>
            </div>
            <div class="form-group">
                <label for="background" class="col-sm-2 control-label">Background Color</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="background" placeholder="Background Color" ng-model="item.backgroundColor">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" ng-model="item.description"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(item)">Confirm</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>